---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; Previous post</a>
      {% endif %}
      {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="next Post: {{page.next.title}}">Next post &raquo;</a>
      {% endif %}
    </p>
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1 class="comments">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
{% if site.duoshuo_short_name and site.duoshuo_comments == true and page.comments == true %}
  <section>
      <h3>Comments</h3>
          <div id="comments" aria-live="polite">{% include post/duoshuo.html %}</div>
            </section>
{% endif %}
</div>
