$blockquote: $type-border !default;
$sans: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "Helvetica Neue", Arial, sans-serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;