<ul class="title">
  <li><a href="/">Hi,I'am urey</a></li>
</ul>
  
<ul class="main-navigation">

  <li class="other"><a href="{{ root_url }}/">Blog</a></li>
  <li class="other"><a href="{{ root_url }}/projects">Projects</a></li>
  <li class="other"><a href="{{ root_url }}/aboutme">About Me</a></li>

  <!-- <li class="other"><a target="_blank" href="http://linkedin.com/in/qwurey">LinkedIn</a></li>-->
</ul>

<!--
<ul class="subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
  {% if site.subscribe_email %}
    <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}
</ul>
-->
  {% if site.simple_search %}
<div id="search-2" class="clf widget-item widget_search">
    <form action="{{ site.simple_search }}" method="get">
        <fieldset role="search">
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
        <input class="search" type="text" name="q" results="0" placeholder="Search"/>
        </fieldset>
    </form>
</div>
  {% endif %}
<!--
<div id="search-2" class="clf widget-item widget_search">
    <h3>站内搜索</h3>
    <form role="search" method="get" id="searchform" action="http://qiaowei.xyz/">
        <div>
            <input type="text" value="" name="s" id="s" placeholder="输入，回车搜索">
        </div>
    </form>
</div>
-->
<!--
<script>
  (function() {
        var cx = '007906514384430331739:v0sq6wikoca';
           var gcse = document.createElement('script');
               gcse.type = 'text/javascript';
                   gcse.async = true;
                       gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                               '//cse.google.com/cse.js?cx=' + cx;
                                   var s = document.getElementsByTagName('script')[0];
                                       s.parentNode.insertBefore(gcse, s);
                                         })();
</script>
<gcse:search></gcse:search>
-->
{% include custom/navigation.html %}


