// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
  font-size: .75em;
  
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}